In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats
import copy
import os
import statistics

#Ans 1

In [ ]:
Path= "/content/drive/MyDrive/A+%26+B+shingles.csv"
Shingles= pd.read_csv(Path)

In [ ]:
Shingles.head()

      A     B
0  0.44  0.14
1  0.61  0.15
2  0.47  0.31
3  0.30  0.16
4  0.15  0.37

### Here for every moisture test, the claim is to check whether the moisture content is still greater than 0.35 pounds per 100 square feet.

### So Alternative hypothesis (HA) : mean moisture content > 0.35 and
### Null hypothesis (H0) : mean moisture content <= 0.35

### We have to check whether HA > 0.35 or not.
### alpha is 0.05 considered here.

##Ans 1.1

###At first we will check for shingle A.

In [ ]:
from scipy.stats import   ttest_1samp

In [ ]:
t_statistic, p_value = ttest_1samp(Shingles['A'], 0.35)
print('One sample t test \nt statistic: {0} p value: {1} '.format(t_statistic, p_value))

One sample t test
t statistic: -1.4735046253382782 p value: 0.14955266289815025

In [ ]:
print('The actual p-value will be:',p_value/2)

The actual p-value will be: 0.07477633144907513

###Here clearly p-value is greater than alpha value. so we have not enough evidence to reject the null hypothesis.
###Therefore for shingle A there is no evidence that mean moisture contents are within the permissible limits.

###Now we will check for shingle B.

In [ ]:
Shingles.describe()

               A          B
count  36.000000  31.000000
mean    0.316667   0.273548
std     0.135731   0.137296
min     0.130000   0.100000
25%     0.207500   0.160000
50%     0.290000   0.230000
75%     0.392500   0.400000
max     0.720000   0.580000

###From the above table we have got the mean value of Shingle B is 0.273548 and std is 0.137296, number of counts is 31.

In [ ]:
z = ((0.273548-0.35)/(0.137296/np.sqrt(31)))

In [ ]:
z

-3.100357774932122

In [ ]:
p_value = stats.norm.sf(abs(z))
p_value

0.0009664350751892229

###Here p-value is less than alpha value. so we are able to reject the null hypothesis.
###Therefore for shingle B there is evidence that mean moisture contents are within the permissible limits.

##Ans 1.2

###Here the claim is to check whether the population mean of shingle A is equal to the population mean of shingle B or not, 0.35 pounds per 100 square feet.
###Alternative hypothesis (HA) : population means of both shingles are not equal and
###Null hypothesis (H0) : population means of both shingles are equal

###alpha is 0.05 considered here.

In [ ]:
Shingles.describe()

               A          B
count  36.000000  31.000000
mean    0.316667   0.273548
std     0.135731   0.137296
min     0.130000   0.100000
25%     0.207500   0.160000
50%     0.290000   0.230000
75%     0.392500   0.400000
max     0.720000   0.580000

In [ ]:
#For Shingle A 
#mean is 0.316667, standard deviation 0.135731, number of samples 36.
#For Shingle B 
#mean is 0.273548, standard deviation 0.137296, number of samples 31.

Tstat= (0.316667-0.273548)/np.sqrt(((0.135731*0.135731)/36)+((0.137296*0.137296)/31))
print (Tstat)

1.288531234177409

In [ ]:
pvalue = stats.norm.sf(abs(Tstat))
print (pvalue)

0.09878055171501698

###So as per the test result we can see the pvalue is greater than the alpha value 0.05. It means we can reject the H0 and conclude that the population means of both singles are not equal.

###As per the theoritical value also the population mean of shingle A is 0.316667 and the population mean of shingle B is 0.273548. It clearly shows the population means are not equal.